footer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background: var(--black-color);
  color: var(--white-clr);
  padding: 1.25rem 1.25rem 3rem;
}

.footerLeft,
.footerRight {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footerLogo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

footer p {
  max-width: 60rem;
  font-size: 0.75rem;
  opacity: 0.75;
  word-wrap: break-word;
}

.footerRight div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-size: 0.75rem;
}

.footerRight div section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer .wrappers {
  display: grid;
  grid-template-columns: 10px 35px 10px;
  gap: 1rem;
}

.footerRight div section:nth-child(3) span:nth-child(3) {
  display: flex;
  gap: 0.87rem;
}

.footerRight div section:nth-child(3) span:nth-child(4) {
  display: flex;
  gap: 1.25rem;
}

footer .gradesValue {
  opacity: 0.75;
  white-space: nowrap;
}
