footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: var(--black-color);
  color: var(--white-clr);
  padding: 1.25rem 1.25rem 3rem;
}

.footerLeft,
.footerRight {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footerLogo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

footer p {
  max-width: 60rem;
  font-size: 0.75rem;
  opacity: 0.75;
  word-wrap: break-word;
}

.footerRight div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-size: 0.75rem;
}

.footerRight div section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer .wrappers {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

footer .gradesValue {
  opacity: 0.75;
}
